
Copy To Dropbox.bat
Copy From Dropbox.bat
GameData/RocketEmporium/Plugins/ModuleScienceExeperimentCamera.pdb
GameData/RocketEmporium/Plugins/UnityEngine.UI.dll
GameData/RocketEmporium/Plugins/UnityEngine.dll
GameData/RocketEmporium/Plugins/TDx.TDxInput.dll
GameData/RocketEmporium/Plugins/Assembly-CSharp.dll
GameData/RocketEmporium/Plugins/Assembly-CSharp-firstpass.dll
